[submodule "libraries/cpp-httplib"]
	path = libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libraries/json"]
	path = libraries/json
	url = https://github.com/nlohmann/json.git
[submodule "libraries/uriparser"]
	path = libraries/uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "libraries/cpp-base64"]
	path = libraries/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "libraries/tidy-html5"]
	path = libraries/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
[submodule "libraries/libsxg"]
	path = libraries/libsxg
	url = https://github.com/8W9aG/libsxg.git
